name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Run Fishtape Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: fish-shop/install-fish-shell@v1
      - uses: fish-shop/run-fishtape-tests@v2
        with:
          globs: 'tests/*.test.fish'
